[Get] Tickers.json
{
  "name": "[Get] Tickers",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "tickers"
            },
            {
              "name": "analise",
              "type": "boolean"
            },
            {
              "name": "nome"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        32
      ],
      "id": "cebba6cf-6e81-4394-b8fc-169249eb60ea",
      "name": "input"
    },
    {
      "parameters": {
        "url": "=https://brapi.dev/api/quote/{{ $json.ticker}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "range",
              "value": "3mo"
            },
            {
              "name": "interval",
              "value": "1d"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer gFpLRvXF9zhpp5NP5dHP5u"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        128
      ],
      "id": "163fde1e-0cea-4738-802d-4ad834635217",
      "name": "get data1"
    },
    {
      "parameters": {
        "jsCode": "\nconst dataRaw = $input.all()[0].json;\nconst apiResponse = Array.isArray(dataRaw) ? dataRaw[0] : dataRaw;\nconst stockData = apiResponse.results[0];\n\n// 2. Extrai apenas os preços ajustados para evitar distorções de dividendos\nconst prices = stockData.historicalDataPrice.map(item => item.adjustedClose);\n\n// 3. Função auxiliar para calcular tudo com base num número X de dias\nfunction calculateMetrics(closes, daysToCalculate) {\n  // Pega apenas os últimos X dias do array\n  const recentCloses = closes.slice(-daysToCalculate);\n  const actualDays = recentCloses.length;\n  \n  if (actualDays < 2) {\n    return { erro: \"Dias insuficientes para cálculo\" };\n  }\n\n  // --- VARIAÇÃO PERCENTUAL ---\n  const currentPrice = recentCloses[recentCloses.length - 1];\n  const oldPrice = recentCloses[0];\n  const percentVariation = ((currentPrice - oldPrice) / oldPrice) * 100;\n\n  // --- MÉDIA MÓVEL SIMPLES---\n  const sumCloses = recentCloses.reduce((acc, val) => acc + val, 0);\n  const sma = sumCloses / actualDays;\n\n  // --- VOLATILIDADE ANUALIZADA ---\n  const dailyReturns = [];\n  for (let i = 1; i < actualDays; i++) {\n    const dayReturn = (recentCloses[i] - recentCloses[i - 1]) / recentCloses[i - 1];\n    dailyReturns.push(dayReturn);\n  }\n\n  const meanReturn = dailyReturns.reduce((acc, val) => acc + val, 0) / dailyReturns.length;\n\n  let sumSquaredDiffs = 0;\n  for (let r of dailyReturns) {\n    sumSquaredDiffs += Math.pow(r - meanReturn, 2);\n  }\n  \n  const variance = sumSquaredDiffs / (dailyReturns.length - 1);\n  const standardDeviation = Math.sqrt(variance);\n  \n  // Multiplica por raiz de 252 (dias úteis no ano) e por 100 para virar porcentagem\n  const annualizedVolatility = standardDeviation * Math.sqrt(252) * 100;\n\n  // Formata os números para ficarem com 2 casas decimais, ideal para salvar em banco ou mandar via msg\n  return {\n    dias_analisados: actualDays,\n    variacao_percentual: Number(percentVariation.toFixed(2)),\n    sma: Number(sma.toFixed(2)),\n    volatilidade_anualizada_percentual: Number(annualizedVolatility.toFixed(2))\n  };\n}\n\n// 4. Executa os cálculos para as janelas de tempo desejadas\nconst metricas7Dias = calculateMetrics(prices, 7);\nconst metricas30Dias = calculateMetrics(prices, 30);\n\n// 5. Retorna o JSON limpo e formatado para o próximo nó da sua automação\nreturn {\n  ativo: stockData.symbol,\n  empresa: stockData.longName,\n  preco_atual: stockData.regularMarketPrice,\n  analise_curto_prazo: metricas7Dias,\n  analise_medio_prazo: metricas30Dias,\n  logomarca: stockData.logourl\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        224
      ],
      "id": "4eade201-00ce-4928-ae9e-d85d9bb30b3b",
      "name": "Calculadora"
    },
    {
      "parameters": {
        "jsCode": "// Captura a string (ex: \"PETR4,AURE3\")\nconst inputString = $input.item.json.tickers;\n\n// 1. Divide pela vírgula\n// 2. .map() transforma cada ticker em um objeto { ticker: \"NOME\" }\n// 3. .trim() remove espaços extras acidentais\nconst splitTickers = inputString.split(',').map(ticker => {\n  return {\n    json: {\n      ticker: ticker.trim()\n    }\n  };\n});\n\nreturn splitTickers;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        32
      ],
      "id": "b4301caf-78e5-4d0f-b536-452f44108dab",
      "name": "Split"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        16
      ],
      "id": "04226d58-bdbc-4c1b-ba08-18217628b7ac",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        304
      ],
      "id": "ef4f4506-4466-4565-91ee-fb3842a5ba58",
      "name": "Wait",
      "webhookId": "1459e563-739d-46f7-b1ec-96d3768b1860"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        32
      ],
      "id": "a3891472-3780-4a54-8e38-8e0af8d7857d",
      "name": "loop"
    }
  ],
  "pinData": {
    "input": [
      {
        "json": {
          "tickers": "PETR4,AURE3",
          "analise": false,
          "nome": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "input": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get data1": {
      "main": [
        [
          {
            "node": "Calculadora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculadora": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "443f6cf8-42ae-40b4-ab08-ede1bd5eb83a",
  "meta": {
    "instanceId": "bcce57cd8c5d86a54f450a5ec0aa708ee07e39e93307489a66aef3ea44364e29"
  },
  "id": "VeWi5O5NsePWu36T",
  "tags": []
}